<ul>
	<li style="display: inline;"><a href="http://www.simplyhired.com">SimplyHired.com |</a></li>
	<li style="display: inline;"><a href="http://www.indeed.com">Indeed.com |</a></li>
	<li style="display: inline;"><a href="http://www.skipthedrive.com">SkipTheDrive.com |</a></li>
	<li style="display: inline;"><a href="https://www.flexjobs.com">FlexJobs.com</a></li>
	<li style="display: inline;"><a href=""></a></li>
</ul>

<p class="text-center text-muted">Bloomsburg Job Hunters 2016</p>

<div class="text-center">
	<span id=indeed_at><a href="http://www.indeed.com/">jobs</a> by <a
	href="http://www.indeed.com/" title="Job Search"><img
	src="http://www.indeed.com/p/jobsearch.gif" style="border: 0;
	vertical-align: middle;" alt="Indeed job search"></a></span>
</div>