<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">
				<span class="glyphicon glyphicon-home">
					HOME
				</span>
			</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/towns/berwick">Berwick</a></li>
			<li><a href="/towns/bloomsburg">Bloomsburg</a></li>
			<li><a href="/towns/danville">Danville</a></li>
			<li><a href="/towns">TOWNS</a></li>
			<li><a href="/employers">EMPLOYERS</a></li>
			<li><a href="/job-types">JOB TYPES</a></li>
			<li><a href="/employers/geisinger">Geisinger</a></li>
			<li><a href="/employers/bloomsburg-university">Bloomsburg University</a></li>
			<li><a href="/employers/berwick-hospital-center">Berwick Hospital Center</a></li>
			<li><a href="/employers/wise-foods">Wise Foods</a></li>
		</ul>
		
	</div>
</nav>