<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<a href="/" class="navbar-brand">
				<span class="glyphicon glyphicon-home">
					HOME
				</span>
			</a>
		</div>

		<ul class="nav navbar-nav">
			<li><a href="/">Home</a></li>
			<li><a href="/berwick">Berwick</a></li>
			<li><a href="/bloomsburg">Bloomsburg</a></li>
			<li><a href="/danville">Danville</a></li>
			<li><a href="/geisinger">Geisinger</a></li>
			<li><a href="/bloomsburg-university">Bloomsburg University</a></li>
			<li><a href="/berwick-hospital-center">Berwick Hospital Center</a></li>
			<li><a href="/wise-foods">Wise Foods</a></li>
		</ul>
		<form action="" method="get">
			<input type="text" placeholder=" Search Jobs" name="req.query.q">
			<input type="submit" value="Submit">
		</form>	
		
	</div>
</nav>