<div style="margin: 10px; text-align: center;">
	<form action="/search" method="post">
		<input type="text" placeholder=" Search Jobs" name="jobQuery">
		<input type="submit" value="Find Jobs" class="btn btn-primary">
	</form>
</div>