<div style="margin: 10px; text-align: center;">
	<form role="search" action="/search" method="post">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="" name="jobQuery">
			<button type="submit" class="btn btn-primary" style="margin-top: 10px;"><i class="glyphicon glyphicon-search"></i> Find Jobs</button>
		</div>
	</form>
</div>