<!-- HOME PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">

			<div style="text-align:center;">
				<h1>Job Hunters</h1>
				<p>Find jobs by employers</p>
			<div class="well" style="text-align: left;">
				<ul style="list-style: none;">
					<li><a href="/employers/alcoa">Alcoa</a></li>
					<hr>
					<li><a href="/employers/bloomsburg-university">Bloomsburg University</a></li>
					<hr>
					<li><a href="/employers/bucknell-university">Bucknell University</a></li>
					<hr>
					<li><a href="/employers/geisinger">Geisinger Health Systems</a></li>
					<hr>
					<li><a href="/employers/berwick-hospital-center">Berwick Hospital Center</a></li>
					<hr>
					<li><a href="/employers/evangelical-community-hospital">Evangelical Community Hospital</a></li>
					<hr>					
					<li><a href="/employers/bayada">BAYADA</a></li>
					<hr>
					<li><a href="/employers/dollar-general">Dollar General</a></li>
					<hr>
					<li><a href="/employers/maria-joseph-manor">Maria Joseph Manor</a></li>
					<hr>
					<li><a href="/employers/sheetz">Sheetz</a></li>
					<hr>
					<li><a href="/employers/victorias-secret">Victoria's Secret</a></li>
					<hr>					
					<li><a href="/employers/wal-mart">Wal-Mart</a></li>
					<hr>
					<li><a href="/employers/weis-markets">Weis Markets</a></li>
					<hr>
					<li><a href="/employers/wise-foods">Wise Foods</a></li>
					<hr>
					<li><a href=""></a></li>
					<hr>
				</ul>
			</div>
			<% include ../partials/search-form %>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>