<!-- HOME PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">

			<div style="text-align:center;">
				<h1>Job Hunters</h1>
				<p>Find a job today.</p>
				<% include ../partials/search-form %>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>