<!-- HOME PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">

			<div style="text-align:center;">
				<h1>Job Hunters</h1>
				<p>Search by job titles</p>
				<% include ../partials/search-form %>
			<div class="well" style="text-align: left;">
				<ul style="list-style: none;">
					<li><a href="/job-titles/cashier">Cashier</a></li>
					<li><a href="/job-titles/certified-nursing-assistant-cna">Certified Nursing Assistant (CNA)</a></li>
					<li><a href="/job-titles//licensed-practicing-nurse-lpn">Licensed Practicing Nurse (LPN)</a></li>
					<li><a href="/job-titles/cook">Cook</a></li>
					<li><a href="/job-titles/receptionist">Receptionist</a></li>
					<li><a href="/job-titles/registered-nurse-rn">Registered Nurse (RN)</a></li>
					<li><a href="/job-titles/sales-associate">Sales Associate</a></li>
					<li><a href="/job-titles/therapist">Therapist</a></li>
					<li><a href=""></a></li>
				</ul>
			</div>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>