<!-- HOME PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">

			<div style="text-align:center;">
				<h1>Job Hunters</h1>
				<p>Search by job titles</p>
			<div class="well" style="text-align: left;">
				<ul style="list-style: none;">
					<li><a href="/job-titles/certified-nursing-assistant">Certified Nursing Assistants (CNA)</a></li>
					<hr>
					<li><a href="/job-titles/cook">Cooks</a></li>
					<hr>
					<li><a href="/job-titles/receptionist">Receptionists</a></li>
					<hr>
					<li><a href="/job-titles/registered-nurse">Registered Nurses (RN)</a></li>
					<hr>
					<li><a href="/job-titles/sales-associate">Sales Associates</a></li>
					<hr>
					<li><a href=""></a></li>
					<hr>
				</ul>
			</div>
			<% include ../partials/search-form %>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>