<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
			<h1>Job Hunters</h1>

			<div class="well">
				<p>Your search for "<%= noResultsJobQuery %>" did not return any results.</p>
				<p>Suggestions:</p>
				<ul>
					<li>Check your spelling.</li>
					<li>Use whole words instead of abbreviations.</li>
					<li>Try variations of a company's name.</li>
				</ul>
				<br>
				<% include ../partials/search-form %>
			</div>

		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>