<!-- HOME PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>

<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">

			<div style="text-align:center;">
				<h1>Job Hunters</h1>
				<p>Find jobs by towns</p>
			<div class="well" style="text-align: left;">
				<ul style="list-style: none;">
					<li><a href="/test/berwick">Berwick</a></li>
					<li><a href="/test/bloomsburg">Bloomsburg</a></li>
					<li><a href="/test/danville">Danville</a></li>
					<li><a href="/test/lewisburg">Lewisburg</a></li>
					<li><a href="/test/milton">Milton</a></li>
					<li><a href="/test/sunbury">Sunbury</a></li>
				</ul>
			</div>
			<% include ../partials/search-form %>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>